@using ServiceForTutorContracts.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = "Личный кабинет";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="p-4" style="background-color: #DBCEF6; border-radius: 10px;">
                <h3 class="text-center" style="font-size: 24px;">Мои данные</h3>
                <img src="https://cdn-icons-png.flaticon.com/256/666/666201.png" alt="Описание изображения" style="display: block; margin: 15px auto; width: 100px; height: 100px;" />
                <p class="card-text">ФИО: @Model.Surname @Model.Name @Model.LastName</p>
                <p class="card-text">Email: @Model.Email</p>
                @if (!string.IsNullOrEmpty(Model.TariffName))
                {
                    <p class="card-text">Текущий тариф: @Model.TariffName</p>
                    <p class="card-text">Действует до: @Model.PurchasedTariffEnd</p>
                    <div class="mt-3">
                        <button class="btn btn-lg w-100" style="background-color: #C5A8EA; color: #300E36; border-radius: 40px;" data-bs-toggle="modal" data-bs-target="#confirmModal">
                            Отменить подписку
                        </button>
                    </div>
                }
                else
                {
                    <p class="card-text">&nbsp;</p>
                    <p class="card-text">&nbsp;</p>
                }
                @if (APIClient.Client.Role != "Admin")
                {
                    <div class="mt-3">
                        <a class="nav-link btn btn-large rounded-pill" href="@Url.Action("EditProfile", "Home")" style="background-color: #C5A8EA; color: #300E36; border-radius: 40px;">Редактировать профиль</a>
                    </div>
                    @if (APIClient.Client.Role == "Tutor")
                    {
                        <div class="mt-3">
                            <a class="btn btn-lg w-100" href="@Url.Action("CreateReview", "Review")" style="background-color: #C5A8EA; color: #300E36; border-radius: 40px;">Оставить отзыв</a>
                        </div>
                      
                    }
                    <div class="mt-3">
                        <a class="btn btn-lg w-100" data-bs-toggle="modal" data-bs-target="#confirmModalDeleteAccount" style="background-color: #C5A8EA; color: #300E36; border-radius: 40px;">Удалить аккаунт</a>
                    </div>
                }
            </div>
        </div>
        @if (APIClient.Client.Role != "Admin")
        {
            <div class="col-md-8 d-flex flex-column" style="height: 100%;">
                <div class="d-flex flex-column flex-grow-1 justify-content-between">
                    <div class="d-flex justify-content-between mb-3">
                        @if (APIClient.Client.Role == "Tutor")
                        {
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("MyStudents", "TutorStudent")" style="background-color: #C5A8EA; color: #300E36;  width: 48%; height: 260px;">Мои ученики</a>
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("Schedule", "Schedule")" style="background-color: #E0D1FE; color: #300E36; width: 48%; height: 260px;">Расписание</a>
                        }
                        else if (APIClient.Client.Role == "Student")
                        {
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("MyTutors", "TutorStudent")" style="background-color: #C5A8EA; color: #300E36; width: 48%; height: 230px;">Мои учителя</a>
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("Schedule", "Schedule")" style="background-color: #E0D1FE; color: #300E36; width: 48%; height: 230px;">Расписание</a>
                        }
                    </div>
                    @if (APIClient.Client.Role == "Tutor")
                    {
                        <div class="d-flex justify-content-between mb-3">
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("Tasks", "Task")" style="background-color: #E0D1FE; color: #300E36; width: 48%; height: 260px;">Задания</a>
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("AssignedTasks", "Task")" style="background-color: #C5A8EA; color: #300E36; width: 48%; height: 260px;">Назначенные задания</a>
                        </div>
                    }
                    else if (APIClient.Client.Role == "Student")
                    {
                        <div class="mb-3">
                            <a class="btn btn-large d-flex align-items-center justify-content-center" href="@Url.Action("AssignedTasks", "Task")" style="background-color: #E0D1FE; color: #300E36; width: 100%; height: 230px;">Мои задания</a>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-md-8 d-flex flex-column" style="height: 100%;">
                @if (Model != null)
                {
                    <h3>Отзывы</h3>
                    <div class="reviews-container">
                        @foreach (var review in Model.Reviews)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Репетитор: @review.TutorEmail</h5>
                                    <p class="card-text">Дата: @review.DateTimeCreated</p>
                                    <div class="rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <span class="material-icons @(i <= review.Rating ? "filled" : "")">star_rate</span>
                                        }
                                    </div>
                                    <p class="card-text">@review.Content</p>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>Отзывов нет.</p>
                }
                @if (Model.TotalPages > 1)
                {
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mt-4">
                            @for (int i = 0; i < Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageIndex ? "active" : "") mx-1">
                                    <a class="page-link" asp-action="Profile" asp-route-pageIndex="@i" asp-route-pageSize="@Model.PageSize" style="border-radius: 10px; background-color: #C5A8EA; color: #300E36;">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>

        }
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтверждение</h5>
            </div>
            <div class="modal-body">
                Вы действительно хотите отменить подписку?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a id="confirmDelete" class="btn btn-danger" href="@Url.Action("DeleteSubscribe", new { planId = Model.PurchasedTariffId })">Подтвердить отмену</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModalDeleteAccount" tabindex="-1" role="dialog" aria-labelledby="confirmModalDeleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalDeleteAccountLabel">Подтверждение</h5>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить аккаунт? Отменить это действие будет невозможно.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a class="btn btn-danger" href="@Url.Action("DeleteAccount", new { userId = APIClient.Client.Id })">Подтвердить удаление</a>
            </div>
        </div>
    </div>
</div>

<style>
    .rating .material-icons {
        color: #ccc; /* Цвет неактивной звезды */
        font-size: 24px; /* Размер иконки */
    }

        .rating .material-icons.filled {
            color: gold; /* Цвет заполненной звезды */
        }
</style>