@using ServiceForTutorContracts.ViewModels
@model List<AssignedTaskViewModel>

@{
    ViewData["Title"] = "Назначенные задания";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-light" style="background-color: #C5A8EA; color: #300E36; border-radius: 10px;" onclick="window.history.back();">
            <i class="fas fa-arrow-left"></i>Назад
        </button>
        <h1 class="display-4">Назначенные задания</h1>
    </div>
    <div class="text-center mt-4">
        @{
            <table class="table table-striped table-bordered mt-4">
                <thead class="thead-light">
                    <tr>
                        <th>Название</th>
                        <th>Тема</th>
                        @if (APIClient.Client.Role == "Tutor")
                        {
                            <th>Ученик</th>
                        }
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (APIClient.Client.Role == "Tutor")
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskTopic)</td>
                                <td>@Html.DisplayFor(modelItem => item.StudentFIO)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>
                                    <a class="btn btn-sm" asp-action="RemoveTask" asp-route-id="@item.Id" onclick="return confirm('Вы уверены, что хотите снять назначение?');">Снять назначение</a>
                                    <a class="btn btn-sm" asp-action="EditTask" asp-route-id="@item.Id">Проверить</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskTopic)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td>
                                <a class="btn btn-sm" asp-action="CompletingTask" asp-route-id="@item.Id">Выполнить</a>
                                <a class="btn btn-sm" asp-action="" asp-route-id="@item.Id">Результат проверки</a>
                            </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .table {
        margin-top: 20px;
    }

    .btn {
        transition: background-color 0.3s ease;
    }

    .btn-light {
        background-color: #e9ecef; /* Светло-серый цвет */
        color: #495057; /* Тёмный текст для контраста */
    }

        .btn-light:hover {
            background-color: #d3d3d3; /* Более тёмный светло-серый при наведении */
        }

    .row {
        display: flex; /* Включаем Flexbox */
        flex-wrap: wrap; /* Разрешаем перенос на следующую строку при необходимости */
        align-items: center; /* Выравнивание по вертикали */
    }

    .col-md-4 {
        flex: 1; /* Делаем элементы одинаковой ширины */
        margin-right: 10px; /* Добавляем отступ между элементами */
    }

    .btn-block {
        width: 100%;
        background-color: black;
    }
</style>