@using ServiceForTutorContracts.ViewModels
@model TaskViewModel
@{
    ViewData["Title"] = "Редактирование задания";
}

<body>
    <div class="container mt-5">   
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="display-4">Редактирование задания</h1>
        </div>

        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="p-4" style="background-color: #DBCEF6; border-radius: 10px;">
                        <h3 class="text-center mt-3" style="color: #300E36;">@Model.Name</h3>
                        <p style="font-weight: bold;">Темa: @Model.Topic</p>
                        <p style="font-weight: bold;">Предмет: @Model.Subject</p>
                        <div class="text-right">
                            <button class="btn" style="background-color: #C5A8EA; color: #300E36; border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#addQuestionModal">Добавить вопрос</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/5058/5058451.png" alt="" style="max-width: 40%; margin-left: -20px; height: auto; border-radius: 10px;">
                </div>
            </div>
        </div>


        <div class="mt-4" id="questionsList">
            <h4 class="text-center" style="color: #300E36;">Вопросы к заданию</h4>
            @if (Model.Questions != null && Model.Questions.Any())
            {
                foreach (var question in Model.Questions)
                {
                    <div class="d-flex mb-3" style="width: 100%;">
                        <!-- Контейнер для карточки вопроса с фиксированной шириной -->
                        <div class="flex-fill" style="min-width: 70%; max-width: 90%; /* Задайте фиксированную ширину */">
                            <div class="card" style="background-color: #F5F4FF; border-radius: 0;">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-0">@question.TaskText</h5>
                                        <span style="font-size: 0.9rem; color: #6c757d;">Тип: @question.TypeQuestion</span>
                                    </div>
                                    <hr />
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-0">Максимальный балл: <strong>@question.MaxScore</strong></p>
                                    </div>

                                    @if (question.TypeQuestion == "Краткий ответ" && question.GetCorrectAnswers().FirstOrDefault() != null)
                                    {
                                        <p class="card-text mt-3">Правильный ответ: <strong>@question.GetCorrectAnswers().FirstOrDefault()</strong></p>
                                    }
                                    else
                                    {
                                        <ul class="list-group list-group-flush">
                                            @if (question.Answers != null && question.Answers.Any())
                                            {
                                                foreach (var answer in question.GetAnswers())
                                                {
                                                    if (answer != null)
                                                    {
                                                        <li class="list-group-item d-flex justify-content-between align-items-center border-bottom">
                                                            <!-- Добавлена граница -->
                                                            <span>@answer</span>
                                                            @if (question.GetCorrectAnswers().Contains(answer))
                                                            {
                                                                <span class="badge bg-success ms-2">Правильный ответ</span>
                                                            }
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Контейнер для кнопок -->
                        <div style="min-width: 20%; max-width: 50%; /* Задайте фиксированную ширину */">
                            <div style="display: flex; flex-direction: column; height: 100%; margin-left: 20px; align-self: center;">
                                @* <button class="btn" style="background-color: #DBCEF6; color: #300E36; border-radius: 10px; margin-bottom: 10px;"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editQuestionModal"
                                        data-question-id="@question.Id"
                                        data-question-text="@question.TaskText"
                                        data-question-type="@question.TypeQuestion"
                                        data-question-maxscore="@question.MaxScore"
                                        data-answers='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(question.Answers))'
                                        data-correct-answers='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(question.CorrectAnswers))'>
                                    Редактировать
                                </button> *@

                                <form asp-action="DeleteQuestion" method="post" style="margin-top: 10px;">
                                    <input type="hidden" id="taskId" name="taskId" value="@Model.Id" />
                                    <input type="hidden" id="questionId" name="id" value="@question.Id" />
                                    <button class="btn" type="submit" style="border-radius: 10px; background-color: #DBCEF6; color: #300E36; width: 100%;">
                                        Удалить вопрос
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <p class="text-center">Нет вопросов для отображения.</p>
            }
        </div>


    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 15px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="addQuestionModalLabel">Добавить вопрос</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Закрыть" style="border: none; background: none;">
                        <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
                    </button>
                </div>
                <form asp-action="CreateQuestion" method="post">
                <div class="modal-body">
                        <input type="hidden" id="taskId" name="id" value="@Model.Id" />
                        <div class="mb-3">
                            <label for="questionText" class="form-label">Вопрос</label>
                            <input type="text" class="form-control" id="questionText" name="questionText" required/>
                        </div>
                        <div class="mb-3">
                            <label for="questionType" class="form-label">Тип задания</label>
                            <select class="form-select" id="questionType" name="questionType" onchange="toggleFields()" required>
                                <option value="">Выберите тип задания</option>
                                <option value="Краткий ответ">Задание с кратким ответом</option>
                                <option value="Развернутый ответ">Задание с развернутым ответом</option>
                                <option value="Единичный выбор">Задание с единичным выбором</option>
                                <option value="Множественный выбор">Задание с множественным выбором</option>
                                <option value="Прикрепление файла">Задание с прикреплением файла</option>
                            </select>
                        </div>

                        <div class="mb-3" id="answersContainer" style="display: none;">
                            <label for="answers" class="form-label">Варианты ответов</label>
                            <div id="answerFields">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" name="Answers[]" placeholder="Введите вариант ответа" />
                                    <button class="btn btn-danger" type="button" onclick="removeAnswer(this)">-</button>
                                </div>
                            </div>
                            <button class="btn" type="button" style="border-radius: 10px; background-color: #C5A8EA; color: #300E36;" onclick="addAnswer()">+</button>
                        </div>

                        <div class="mb-3" id="correctAnswersContainer" style="display: none;">
                            <label for="correctAnswers" class="form-label">Выберите правильные варианты ответа</label>
                            <div id="correctAnswersFields">
                                <!-- Здесь будут добавляться чекбоксы для правильных ответов -->
                            </div>
                        </div>

                        <div class="mb-3" id="correctAnswer" style="display: none;">
                            <label for="correctAnswer" class="form-label">Ответ</label>
                            <input type="text" class="form-control" name="correctAnswers" />
                        </div>

                        <div class="mb-3">
                            <label for="maxScore" class="form-label">Максимальный балл</label>
                            <input type="number" class="form-control" id="maxScore" name="maxScore" required />
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border-radius: 10px; background-color: #300E36 ; color: #C5A8EA;">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="saveQuestionButton" style="border-radius: 10px; background-color: #C5A8EA; color: #300E36;">Сохранить</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="editQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editQuestionModalLabel">Редактировать вопрос</h5>
                </div>
                <form asp-action="EditQuestion" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="taskId" name="taskId" value="@Model.Id" />
                        <input type="hidden" id="editQuestionId" name="editQuestionId" />
                        <div class="mb-3">
                            <label for="editQuestionType" class="form-label">Тип вопроса:</label>
                            <input type="text" class="form-control" id="editQuestionType" name="editQuestionType" required readonly/>
                        </div>

                        <div class="mb-3">
                            <label for="editQuestionText" class="form-label">Вопрос</label>
                            <input type="text" class="form-control" id="editQuestionText" name="editQuestionText" required />
                        </div>

                        <div class="mb-3" id="answersContainer" style="display: none;">
                            <label for="answers" class="form-label">Варианты ответов</label>
                            <div id="answerFields">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" name="Answers[]" placeholder="Введите вариант ответа" />
                                    <button class="btn btn-danger" type="button" onclick="removeAnswer(this)">-</button>
                                </div>
                            </div>
                            <button class="btn" type="button" style="border-radius: 10px; background-color: #C5A8EA; color: #300E36;" onclick="addAnswer()">+</button>
                        </div>


                        <div class="mb-3" id="correctAnswersFields">
                            <label class="form-label">Правильные ответы</label>
                        </div>

                        <div class="mb-3">
                            <label for="editMaxScore" class="form-label">Максимальный балл</label>
                            <input type="number" class="form-control" id="editMaxScore" name="editMaxScore" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#editQuestionModal').on('show.bs.modal', function (event) {
            toggleFieldsForEdit();
            var button = $(event.relatedTarget);
            var questionId = button.data('question-id'); // Извлекаем ID вопроса
            var questionText = button.data('question-text'); // Извлекаем текст вопроса
            var questionType = button.data('question-type'); // Извлекаем тип вопроса
            var maxScore = button.data('question-maxscore'); // Извлекаем максимальный балл

            var answersData = button.data('answers');
            var correctAnswersData = button.data('correct-answers'); // Извлекаем правильные ответы
            console.log(questionType);
            if (questionType === 'Множественный выбор' || questionType === 'Единичный выбор') {
                $('#answerFields').css('display', 'block'); // Показать поля для вариантов ответов
            } else {
                $('#answerFields').css('display', 'none'); // Скрыть поля для вариантов ответов
            }
            console.log($('#answerFields').is(':visible'));
            // Заполняем поля формы
            $('#editQuestionId').val(questionId);
            $('#editQuestionText').val(questionText);
            $('#editQuestionType').val(questionType);
            $('#editMaxScore').val(maxScore);
        });

        // Функция добавления варианта ответа
        function addAnswer() {
            $('#answerFields').append(`
                <div class="input-group mb-2">
                    <input type="text" class="form-control" name="Answers[]" placeholder="Введите вариант ответа" />
        <button class="btn btn-danger" type="button" onclick="removeAnswer(this)">-</button>
                </div>
            `);
        }

        // Функция удаления варианта ответа
        function removeAnswer(button) {
            $(button).closest('.input-group').remove();
        }

        // Функция удаления правильного ответа
        function removeCorrectAnswer(button) {
            $(button).closest('.input-group').remove();
        }

        function toggleFields() {
            var questionType = document.getElementById("questionType").value;

            var answersContainer = document.getElementById("answersContainer");
            var correctAnswersContainer = document.getElementById("correctAnswersContainer");

            // Скрытие или отображение полей
            switch (questionType) {
                case "Краткий ответ":
                    answersContainer.style.display = "none";
                    correctAnswer.style.display = "block";
                    break;
                case "Развернутый ответ":
                case "Прикрепление файла":
                    answersContainer.style.display = "none";
                    correctAnswersContainer.style.display = "none";
                    correctAnswer.style.display = "none";
                    break;
                case "Единичный выбор":
                case "Множественный выбор":
                    answersContainer.style.display = "block";
                    correctAnswersContainer.style.display = "block";
                    correctAnswer.style.display = "none";
                    break;
                default:
                    answersContainer.style.display = "none";
                    correctAnswersContainer.style.display = "none";
                    correctAnswer.style.display = "none";
            }

            // Обновить варианты правильных ответов при изменении типа задания
            if (questionType === "Единичный выбор" || questionType === "Множественный выбор") {
                updateCorrectAnswerOptions(questionType);
            }
        }

        function toggleFieldsForEdit() {
            var questionType = document.getElementById("editQuestionType").value; // Получаем значение из editQuestionType
            var answersContainer = document.getElementById("answersContainer"); // Получаем контейнер с ответами

            if (questionType === 'Множественный выбор' || questionType === 'Единичный выбор') {
                answersContainer.style.display = 'block'; // Показать контейнер
            } else {
                answersContainer.style.display = 'none'; // Скрыть контейнер
            }
        }

        function addAnswer() {
            var answerFields = document.getElementById('answerFields');

            // Создадим новое поле ввода и кнопку для удаления
            var newDiv = document.createElement('div');
            newDiv.className = 'input-group mb-2';

            newDiv.innerHTML = `
                <input type="text" class="form-control" name="Answers[]" placeholder="Введите вариант ответа" />
                <button class="btn btn-danger" type="button" onclick="removeAnswer(this)">-</button>
            `;
            answerFields.appendChild(newDiv);

            // Обновить варианты правильных ответов при добавлении нового
            var questionType = document.getElementById("questionType").value;
            updateCorrectAnswerOptions(questionType);
        }

        function removeAnswer(button) {
            var answerFields = document.getElementById('answerFields');
            answerFields.removeChild(button.parentElement);

            // Обновить варианты правильных ответов при удалении
            var questionType = document.getElementById("questionType").value;
            updateCorrectAnswerOptions(questionType);
        }

        function updateCorrectAnswerOptions(questionType) {
            var answerFields = document.getElementsByName('Answers[]');
            var correctAnswersContainer = document.getElementById('correctAnswersFields');
            var correctAnswer = document.getElementById('correctAnswer');
            correctAnswer.innerHTML = '';
            // Очищаем предыдущие варианты правильных ответов
            correctAnswersContainer.innerHTML = '';

            for (var i = 0; i < answerFields.length; i++) {
                var answerValue = answerFields[i].value.trim();
                // Проверяем, не пустое ли значение
                if (answerValue !== "") {
                    var answerDiv = document.createElement('div');
                    if (questionType === "Единичный выбор") {
                        answerDiv.innerHTML = `
                            <input type="radio" name="correctAnswers" value="${answerValue}" id="correctAnswer${i}" />
                            <label for="correctAnswer${i}">${answerValue}</label>
                        `;
                    } else if (questionType === "Множественный выбор") {
                        answerDiv.innerHTML = `
                            <input type="checkbox" name="correctAnswers" value="${answerValue}" id="correctAnswer${i}" />
                            <label for="correctAnswer${i}">${answerValue}</label>
                        `;
                    }
                    correctAnswersContainer.appendChild(answerDiv);
                }
            }
        }

    </script>
}