@using ServiceForTutorContracts.ViewModels
@model AssignedTaskViewModel
@{
    ViewData["Title"] = "Результат проверки";
}

<body>
    <div class="container mt-5">
        <h1 class="display-4">@ViewData["Title"]</h1>

        <div class="container">
            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="p-4" style="background-color: #E3EFFF; border-radius: 10px;">
                        <h3 class="text-center mt-3" style="color: #300E36;">@Model.TaskName</h3>
                        <p style="font-weight: bold;">Темa: @Model.TaskTopic</p>
                        <p style="font-weight: bold;">Предмет: @Model.Subject</p>
                        <p style="font-weight: bold;">Ученик: @Model.StudentFIO</p>
                        <p style="font-weight: bold;">Оценка: @Model.Grade из @Model.MaxGrade</p>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="https://okeygeek.ru/wp-content/uploads/2019/09/icon_needs_assessment_blue-300x300-768x768.png" alt="" style="max-width: 40%; margin-left: -20px; height: auto; border-radius: 10px;">
                </div>
            </div>
        </div>

        <div class="mt-4" id="questionsList">
            <h4 class="text-center" style="color: #300E36;">Вопросы к заданию</h4>
                <input type="hidden" name="taskId" value="@Model.Id" />
                @if (Model.Questions != null && Model.Questions.Any())
                {
                    foreach (var question in Model.Questions)
                    {
                        <div class="d-flex mb-3" style="width: 100%;">
                            <div class="flex-fill" style="min-width: 70%; max-width: 90%;">
                            <div class="card" style="background-color: rgba(227, 239, 255, 0.3); border-radius: 0;">
                                    <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded-circle d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; background-color: #9ACCFF; color: black; font-weight: bold; margin-right: 15px;">
                                            @question.NumberInTask
                                        </div>
                                        <h5 class="card-title mb-0 flex-fill">@question.TaskText</h5>
                                        <span style="font-size: 0.9rem; color: #6c757d;">Тип: @question.TypeQuestion</span>
                                    </div>
                                        <hr />
                                        @{
                                            var studentAnswer = Model.Answers.FirstOrDefault(a => a.QuestionId == question.Id);
                                            var selectedScore = studentAnswer?.Score ?? 0.0f;
                                        }

                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0">Максимальный балл: <strong>@question.MaxScore</strong></p>
                                            <p>Полученная оценка: @selectedScore</p>
                                        </div>
                                    @if (question.FileUrls != null && question.FileDownloadLinks != null && question.FileDownloadLinks.Any())
                                    {
                                        <div class="mt-3">
                                            <h6>Прикрепленные файлы:</h6>
                                            <ul class="list-group">
                                                @for (int i = 0; i < question.FileDownloadLinks.Count; i++)
                                                {
                                                    var fileLink = question.FileDownloadLinks[i];
                                                    var isImage = fileLink.Contains("content_type=image");

                                                    <li class="list-group-item">
                                                        @if (isImage)
                                                        {
                                                            <img src="@fileLink" alt="Изображение" style="max-width: 100%; height: auto;" />
                                                        }
                                                        else
                                                        {
                                                            <a href="@fileLink" target="_blank">Скачать файл</a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                        <div class="mt-3">
                                            <h6>Ответ:</h6>
                                            @{
                                                studentAnswer = Model.Answers.FirstOrDefault(a => a.QuestionId == question.Id);
                                            }
                                            @if (studentAnswer != null)
                                            {
                                                var answersList = studentAnswer.GetAnswer();
                                                if (studentAnswer.IsFileAnswer)
                                                {
                                                    <ul>
                                                        @foreach (var fileLink in studentAnswer.FileDownloadLinks)
                                                        {
                                                            var isImage = fileLink.Contains("content_type=image");

                                                            <li class="list-group-item">
                                                                @if (isImage)
                                                                {
                                                                    <img src="@fileLink" alt="Изображение" style="max-width: 100%; height: auto;" />
                                                                }
                                                                else
                                                                {
                                                                    <a href="@fileLink" target="_blank">Скачать файл</a>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                else if (answersList != null && answersList.Any())
                                                {
                                                    foreach (var answer in answersList)
                                                    {
                                                        <p>@answer</p>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>Нет ответа</p>
                                                }
                                            }
                                            else
                                            {
                                                <p>Ответ не найден</p>
                                            }
                                        @if (question.TypeQuestion == "Краткий ответ" && question.GetCorrectAnswers().FirstOrDefault() != null)
                                        {
                                            <p class="card-text mt-3">Правильный ответ: <strong>@question.GetCorrectAnswers().FirstOrDefault()</strong></p>
                                        }

                                        @if (question.Answers != null && question.Answers.Any())
                                        {
                                            <ul class="list-group list-group-flush">
                                                @foreach (var answer in question.GetAnswers())
                                                {
                                                    if (answer != null)
                                                    {
                                                        <li class="list-group-item d-flex justify-content-between align-items-center border-bottom">
                                                            <span>@answer</span>
                                                            @if (question.GetCorrectAnswers().Contains(answer))
                                                            {
                                                                <span class="badge bg-success ms-2">Правильный ответ</span>
                                                            }
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>

    </div>
</body>