@using ServiceForTutorContracts.ViewModels
@model TaskViewModel
@{
    ViewData["Title"] = "Просмотр задания";
}
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="container mt-5">
        <h1 class="display-4">@ViewData["Title"]</h1>

        <div class="container">
            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="p-4" style="background-color: #DBCEF6; border-radius: 10px;">
                        <h3 class="text-center mt-3" style="color: #300E36;">@Model.Name</h3>
                        <p style="font-weight: bold;">Темa: @Model.Topic</p>
                        <p style="font-weight: bold;">Предмет: @Model.Subject</p>
                        <div class="text-right">
                            <button class="btn" style="background-color: #C5A8EA; color: #300E36; border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#assignTaskModal">Назначить ученика</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/5058/5058451.png" alt="" style="max-width: 40%; margin-left: -20px; height: auto; border-radius: 10px;">
                </div>
            </div>
        </div>


        <div class="mt-4" id="questionsList">
            <h4 class="text-center" style="color: #300E36;">Вопросы к заданию</h4>
            @if (Model.Questions != null && Model.Questions.Any())
            {
                foreach (var question in Model.Questions)
                {
                    <div class="d-flex mb-3" style="width: 100%;">
                        <div class="flex-fill" style="min-width: 70%; max-width: 90%; /* Задайте фиксированную ширину */">
                            <div class="card" style="background-color: #F5F4FF; border-radius: 0;">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-0">@question.TaskText</h5>
                                        <span style="font-size: 0.9rem; color: #6c757d;">Тип: @question.TypeQuestion</span>
                                    </div>
                                    <hr />
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-0">Максимальный балл: <strong>@question.MaxScore</strong></p>
                                    </div>

                                    @if (question.TypeQuestion == "Краткий ответ" && question.GetCorrectAnswers().FirstOrDefault() != null)
                                    {
                                        <p class="card-text mt-3">Правильный ответ: <strong>@question.GetCorrectAnswers().FirstOrDefault()</strong></p>
                                    }
                                    else
                                    {
                                        <ul class="list-group list-group-flush">
                                            @if (question.Answers != null && question.Answers.Any())
                                            {
                                                foreach (var answer in question.GetAnswers())
                                                {
                                                    if (answer != null)
                                                    {
                                                        <li class="list-group-item d-flex justify-content-between align-items-center border-bottom">
                                                            <span>@answer</span>
                                                            @if (question.GetCorrectAnswers().Contains(answer))
                                                            {
                                                                <span class="badge bg-success ms-2">Правильный ответ</span>
                                                            }
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-center">Нет вопросов для отображения.</p>
            }
        </div>

        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Ошибка!</h5>
                    </div>
                    <div class="modal-body">
                        <p id="modalMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="assignTaskModal" tabindex="-1" role="dialog" aria-labelledby="assignTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius: 15px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="assignTaskModalLabel">Добавить вопрос</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Закрыть" style="border: none; background: none;">
                            <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
                        </button>
                    </div>
                    <form asp-action="AssignTask" method="post">
                        <div class="modal-body">
                            <input type="hidden" id="taskId" name="id" value="@Model.Id" />
                            <div class="mb-3">
                                <label for="studentSelect">Выберите ученика</label>
                                <select id="studentSelect" name="studentId" class="form-select" required>
                                    <option value="" disabled selected>-- Выберите ученика --</option>
                                    @foreach (var student in ViewBag.Students)
                                    {
                                        <option value="@student.Id">@student.Name @student.Surname</option>
                                    }
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="startDate">Дата и время начала</label>
                                <input type="datetime-local" id="startDate" name="startDate" class="form-control" required />
                            </div>

                            <div class="mb-3">
                                <label for="endDate">Дата и время окончания</label>
                                <input type="datetime-local" id="endDate" name="endDate" class="form-control" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border-radius: 10px; background-color: #300E36 ; color: #C5A8EA;">Закрыть</button>
                            <button type="submit" class="btn btn-primary" id="saveQuestionButton" style="border-radius: 10px; background-color: #C5A8EA; color: #300E36;">Назначить задание</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var errorMessage = @Html.Raw(Json.Serialize(TempData["ErrorMessage"]));
            if (errorMessage) {
                $('#modalMessage').text(errorMessage);
                $('#errorModal').modal('show');
            }
        });
    </script>
</body>

