@using ServiceForTutorContracts.ViewModels
@model List<UserViewModel>

@{
    ViewData["Title"] = "Мои ученики";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4">Мои ученики</h1>
    </div>

    <div class="text-center mt-4">
        <div class="d-flex align-items-center mt-4">
            <div class="flex-shrink-0" style="width: 20%;">
                <form asp-action="CreateInvitationCode" method="post">
                    <button type="submit" class="btn btn-action" style="width: 100%;">Сформировать код приглашения</button>
                </form>
            </div>
            <div class="flex-grow-1 ms-3">
                @if (ViewBag.InvitationCode != null)
                {
                    <p>
                        Сгенерированный код приглашения:
                        <span id="invitationCode" style="font-size: 1.5em; font-weight: bold;">@ViewBag.InvitationCode</span>
                    </p>
                }
            </div>
        </div>

        @if (Model != null && Model.Any())
        {
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Surname</td>
                            <td>@item.Name</td>
                            <td>@item.LastName</td>
                            <td>
                                <a class="btn btn-action btn-sm" asp-controller="Task" asp-action="AssignedTasks" asp-route-studentId="@item.Id" style="height: 40px;">Назначенные задания</a>
                                <a class="btn btn-action btn-sm" asp-action="DeleteStudent" asp-route-id="@item.Id" style="height: 40px;" onclick="return confirm('Вы уверены, что хотите удалить ученика?');">Удалить</a>
                                <a class="btn btn-action btn-sm" asp-action="Board" asp-route-id="@item.Id" style="height: 40px;">Доска</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="display-4 mt-4">Нет прикрепленных учеников</h3>
        }
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    .btn-action {
        background-color: #9ACCFF;
        color: #300E36;
        padding: 10px 20px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        border: none;
    }

    .btn-action:hover {
            background-color: #E3EFFF;
    }

    .table {
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .table th {
        background-color: #E3EFFF;
        color: #300E36;
        text-align: center;
        padding: 15px;
    }

    .table td {
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        background-color: #ffffff;
    }
</style>
